* {
  font-family: Inter, Arial, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-container {
  position: relative;
  width: 100vw;
  height: 38rem;
  overflow: hidden;
  background-color: black;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.main-header nav, .main-header div {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}


.navigation {
  display: flex;
  gap: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
}

.navigation a:hover {
  color: white;
  transition: .5s;
  text-decoration: underline;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #D1D5DB;
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 25%;
  border-radius: 0.375rem;
  border: solid 1.5px #D1D5DB;
  color: white;
}

.search-input-container input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 0.625rem 0.5rem 0.625rem;
  border-radius: 0.375rem 0 0 0.375rem;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.search-input-container input::placeholder {
  font-weight: 600;
}

.search-input-container i {
  font-size: 1rem;
  padding: 0 0.625rem;
}

.search-input-container i:hover {
  color: #BE123C;
  transition: .5s;
  cursor: pointer;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-data span {
  font-size: 1rem;
  font-weight: 500;
  color: #D1D5DB;
}

.user-data span:hover {
  color: white;
  transition: .5s;
  cursor: pointer;
  text-decoration: underline;
}

.user-data img {
  width: 2rem;
  border-radius: 100%;
  transition: transform 0.5s;
}

.user-data img:hover {
  cursor: pointer;
  transform: scale(0.8);
}

ul {
  height: 100%;
  z-index: -1;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

.banner-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.70);
}

.movie-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-left: 6.125rem;
  z-index: 1;
  color: white;
}

.movie-description h1 {
  font-size: 3rem;
  font-weight: 700;
}

.banner-movie-details {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.banner-movie-review, .banner-movie-category {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
}

.banner-movie-category i {
  font-size: 1.8rem;
}

.movie-description p {
  font-size: 0.875rem;
  font-weight: 400;
  max-width: 25vw;
  color: #D1D5DB;
}

.movie-description button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #BE123C;
}

.movie-description button i {
  font-size: 1.25rem;
  color: white;
}

.movie-description button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #92082b;
}

.pagination-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: 0.876rem;
  font-weight: 600;
  color: #9CA3AF;
  z-index: 1;
  margin-right: 3rem;
}

.pagination-box span:hover {
  cursor: pointer;
  opacity: 0.7;
}

.selected-movie {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}

.selected-movie div {
  position: absolute;
  width: 1rem;
  height: 0.30rem;
  right: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

/* MAIN */

.movie_sessions {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.movie_categorie_section {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.movie_sessions header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mask-happy {
  font-size: 2rem;
  color: #2203FF;
}

.movie_sessions header h2 {
  font-size: 2rem;
  font-weight: 700;
}

.movie_sessions span {
  flex-grow: 1;
  height: 2px;
  background-image: linear-gradient(to right, #2203FF, #C40D60);
}

.movie_sessions a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.movie_sessions a i {
  font-weight: 800;
}

.movie_sessions a:hover {
  color: #C40D60;
  font-weight: 500;
  cursor: pointer;
  transition: .7s;
}

@media (max-width: 1200px) {

  .header-container {
    height: 30rem;
  }

  .main-header {
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  .search-input-container {
    width: 40%;
  }

  .movie-description p {
    font-size: 0.78rem;
    max-width: 40vw;
  }
}

@media (max-width: 768px){

  .header-container {
    height: 25rem;
  }

  .movie-description {
    margin-top: 2rem;
  }

  .movie-description h1 {
    font-size: 2.3rem;
  }

  .movie-description p {
    font-size: 0.6rem;
    max-width: 50vw;
  }
}

@media (max-width: 668px){

  .header-container {
    height: 20rem;
  }

  .search-input-container input {
    max-height: 0.6rem;
    font-size: 0.8rem;
  }

  .search-input-container i {
    font-size: 0.8rem;
  }

  .user-data span {
    font-size: .9rem;
  }

  .user-data img {
    width: 1.4rem;
  }

  .movie-description {
    margin-top: 4rem;
    margin-left: 2.125rem;
  }

  .movie-description h1 {
    font-size: 1.5rem;
  }

  .banner-movie-review, .banner-movie-category {
    gap: 0.6rem;
    font-size: 0.5rem;
  }

  .banner-movie-review img {
    max-width: 1.5rem;
  }

  .banner-movie-category i {
    font-size: 1rem;
  }


  .movie-description p {
    font-size: 0.6rem;
    max-width: 50vw;
    max-height: 4.9rem;
    overflow: hidden;
  }

  .movie-description button {
    font-size: 0.65rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  }
  
  .movie-description button i {
    font-size: 1rem;
  }

  .pagination-box {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .selected-movie div {
    width: 0.7rem;
    height: 0.15rem;
    right: 1rem;
    background-color: white;
    border-radius: 0.5rem;
  }
}

@media (max-width: 568px){

  .header-container {
    height: 25rem;
  }

  .main-header {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .banner {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .search-input-container {
    width: 70%;
  }
}

@media (max-width: 430px){
  .banner {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .movie-description p {
    font-size: 0.6rem;
    max-width: 70vw;
  }
}